[Unit]
Description=PHP 5.6
Documentation=https://www.php.net/docs.php
After=network.target 

[Service]
Type=simple

User=nobody
Group=nobody

PIDFile=/usr/local/php/var/run/php-fpm.pid
ExecStart=/usr/local/php/sbin/php-fpm --nodaemonize
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
Alias=php56.service
