[Unit]
Description=Aria2 service
After=network.target 
Wants=network.target

[Service]
Type=simple

User=nobody
Group=nogroup

ExecStart=/usr/bin/aria2c --conf-path=/usr/local/aria2/aria2.conf
ExecStop=/bin/kill -s INT $MAINPID
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
