[mysqld]
character-set-server=utf8
# 慢日志
# slow_query_log = 1
# slow_query_log_file = {{ mysql_path }}/mysql-slow.log
# long_query_time = 1
server-id=1
# 开启bin_log
log_bin={{ mysql_binlog_path }}/mysql-bin
datadir={{ mysql_path }}
socket={{ mysql_path }}/mysql.sock
symbolic-links=0
log-error={{ mysql_log_path }}/mysqld.log
pid-file={{ mysql_pid_path }}/mysqld.pid