server {
    listen       80 default_server;
    server_name  127.0.0.1 {{ ansible_default_ipv4.address }};

    charset utf-8;

    root   {{ nginx_path }}/html;
    index  index.html index.htm;

    #error_page  404              /404.html;

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   {{ nginx_path }}/html;
    }

    location ~ /\.ht {
        deny  all;
    }
}
